{{ define "main" }}
<h1>{{ .Title }}</h1>
<ul class="post-list">
  {{ range .Pages.ByParam "series_number" }}
    <li>
      <a href="{{ .RelPermalink }}">
        {{- with .Params.series_number }}<span class="series-num">{{ printf "%02d" . }}</span>{{ end }}
        {{ .Title -}}
      </a>
      {{ if .Params.coming_soon }}<span>Coming soon</span>
      {{ else }}<span>{{ .Date.Format "02 Jan 2006" }}</span>
      {{ with .Description }}<p class="post-list-desc">{{ . }}</p>{{ end }}
      {{ end }}
    </li>
  {{ end }}
</ul>
{{ end }}
